<div class="border border-gray-300 rounded-2xl p-6 grid grid-rows-[1fr_0.5fr]">
    <img
        class="w-min m-auto"
        [src]="product.imagen_url"
        (error)="onImageError($event)"
    />
    <div class="flex flex-col gap-1.5">
        <span class="text-2xl text-gray-600">{{ product.nombre }}</span>
        <div class="flex gap-1 text-[1rem]">
            <span>{{ product.marca }}</span>
            <span>-</span>
            <span>{{ product.categoria.nombre }}</span>
        </div>
        <div class="flex justify-between mt-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, dolore velit hic laudantium asperiores nemo nesciunt nihil saepe.</p>
        </div>

        <button
            (click)="toggleCart($event)"
            class="flex justify-center items-center gap-1 text-lg mt-3 text-white py-2 rounded-[0.4rem] transition-colors"
            [ngClass]="(isInCart() | async)
                ? 'bg-red-500 hover:bg-red-600 active:bg-red-700'
                : 'bg-black hover:bg-gray-800 active:bg-black'"
        >
            <mat-icon>
                {{ (isInCart() | async) ? 'remove_shopping_cart' : 'add_shopping_cart' }}
            </mat-icon>

            <span>
                {{ (isInCart() | async) ? 'Quitar del carrito' : 'Agregar al carrito' }}
            </span>
        </button>
    </div>
</div>