<div class="text-[1rem] mb-5">
    <span
        routerLink="/"
        class="cursor-pointer"
        routerLinkActive="text-red-500 font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Inicio
    </span>
    <span> / </span>

    <span routerLink="/productos" class="cursor-pointer" routerLinkActive="text-red-500 font-semibold">
        Productos
    </span>
    <span> / </span>

    <span routerLink="/cotizar" class="cursor-pointer" routerLinkActive="text-red-500 font-semibold">
        Cotizacion
    </span>
</div>
