<div
    class="relative w-full max-w-7xl mx-auto aspect-[21/9] sm:aspect-[32/10] md:aspect-[25/8] bg-slate-900 overflow-hidden sm:rounded-2xl shadow-xs group"
    (mouseenter)="stopAutoPlay()"
    (mouseleave)="startAutoPlay()"
>
    <div
        class="flex h-full transition-transform duration-500 ease-out"
        [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'"
    >
        @for (img of images; track $index) {
        <div class="w-full h-full shrink-0 relative">
            <img
                [src]="img"
                alt="Banner Informativo"
                class="w-full h-full object-cover select-none"
                loading="eager"
            />
            <div
                class="absolute inset-0 bg-gradient-to-t from-black/30 via-transparent to-transparent"
            ></div>
        </div>
        }
    </div>

    <button
        (click)="prevSlide()"
        type="button"
        class="absolute top-1/2 left-4 -translate-y-1/2 w-9 h-9 bg-black/20 hover:bg-black/60 text-white rounded-full flex items-center justify-center transition-all opacity-0 group-hover:opacity-100 backdrop-blur-xs cursor-pointer active:scale-90"
    >
        <mat-icon class="text-base! w-5! h-5! flex items-center justify-center"
            >chevron_left</mat-icon
        >
    </button>

    <button
        (click)="nextSlide()"
        type="button"
        class="absolute top-1/2 right-4 -translate-y-1/2 w-9 h-9 bg-black/20 hover:bg-black/60 text-white rounded-full flex items-center justify-center transition-all opacity-0 group-hover:opacity-100 backdrop-blur-xs cursor-pointer active:scale-90"
    >
        <mat-icon class="text-base! w-5! h-5! flex items-center justify-center"
            >chevron_right</mat-icon
        >
    </button>

    <div
        class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-1.5 z-10 bg-slate-950/20 px-2.5 py-1 rounded-full backdrop-blur-xs"
    >
        @for (img of images; track $index) {
        <button
            (click)="goToSlide($index)"
            type="button"
            class="h-1.5 rounded-full transition-all duration-300 cursor-pointer"
            [ngClass]="{
              'bg-white w-4': currentIndex === $index,
              'bg-white/40 w-1.5 hover:bg-white/70': currentIndex !== $index
            }"
        ></button>
        }
    </div>
</div>
