<nav
    class="fixed top-0 left-0 w-full z-40 bg-[#181a1e] flex justify-between items-center px-4 py-3"
>
    <div class="flex items-center">
        <button
            (click)="toggleMenu()"
            id="menu-btn"
            class="text-white hover:bg-gray-800 p-1 rounded-md transition-colors flex items-center justify-center"
        >
            <mat-icon
                class="text-2xl! w-auto! h-auto! flex items-center justify-center"
                >menu</mat-icon
            >
        </button>
    </div>

    <div class="flex items-center gap-4">
        <span class="text-white bg-gray-700 rounded-2xl py-2 px-4 text-[0.8rem]">
            {{ usuarioLogueado?.username || 'Panel' }}
        </span>
        <div class="flex items-center gap-2">
            <mat-icon
                class="text-3xl! w-auto! h-auto! text-gray-300! flex items-center justify-center bg-gray-700 rounded-full"
            >
                account_circle
            </mat-icon>

        </div>
    </div>
</nav>

@if(isMenuOpen) {
<div class="fixed inset-0 bg-black/60 z-40" (click)="closeMenu()"></div>
}

<div
    class="fixed top-0 left-0 h-screen w-72 bg-[#181a1e] text-white z-55 p-6 transition-transform duration-300 shadow-2xl"
    [class.-translate-x-full]="!isMenuOpen"
    [class.translate-x-0]="isMenuOpen"
>
    <div class="flex justify-between items-center mb-10">
        <h2 class="text-xl font-bold tracking-wide">Menú</h2>
        <button
            (click)="closeMenu()"
            class="flex items-center justify-center w-8 h-8 rounded-md hover:bg-gray-800 text-gray-400 hover:text-white"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="flex flex-col gap-4 text-md text-gray-400">
        <a
            routerLink="/admin-dashboard"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">home</mat-icon> Inicio
        </a>
        <a
            routerLink="/admin-users"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">supervisor_account</mat-icon> Usuarios
        </a>
        <a
            routerLink="/home-clientes"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">business</mat-icon> Clientes
        </a>
        <a
            routerLink="/admin-products"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">request_quote</mat-icon> Productos
        </a>
        <a
            routerLink="/home-list-price"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">monetization_on</mat-icon> Listas de precios
        </a>
        <a
            routerLink="/admin-cotizaciones"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">picture_as_pdf</mat-icon> Listas de cotizaciones
        </a>
        <a
            routerLink="/valid-cotizacion"
            (click)="closeMenu()"
            class="hover:text-white flex items-center gap-2 py-2 transition-colors"
        >
            <mat-icon class="text-lg! w-auto! h-auto!">playlist_add_check</mat-icon> Validar Cotización
        </a>
        <button
            (click)="closeMenu(); logout()"
            class="mt-6 bg-red-600/20 text-red-400 border border-red-600/30 rounded-md py-2 px-4 text-center hover:bg-red-600 hover:text-white transition-all w-full"
        >
            Cerrar Sesión
        </button>
    </div>
</div>
