<footer class="bg-black flex flex-col gap-8 px-5 py-7">
    <div class="flex flex-col gap-1">
        <img
            class="w-32"
            src="assets/logos/logo-isur-inv.png"
            alt="Logo-ISUR"
        />
        <span class="text-gray-400">Venta y suministro de artículos de seguridad y oficina para
            empresas mineras.</span
        >
    </div>
    <div class="flex flex-col gap-2">
        <span class="text-white">NAVEGACIÓN</span>
        <a routerLink="/" class="text-gray-400">Inicio</a>
        <a routerLink="/productos" class="text-gray-400">Productos</a>
        <a routerLink="/cotizar" class="text-gray-400">Cotización</a>
        <a routerLink="/login" class="text-gray-400">Iniciar Sesión</a>
    </div>
    <div class="flex flex-col gap-2">
        <span class="text-white">CONTACTO</span>
        <a href="" class="text-gray-400">WhatsApp</a>
        <span class="text-gray-400">ventas@isur.com.pe</span>
    </div>
    <div class="flex flex-col text-center gap-3">
        <hr class="text-gray-500">
        <span class="text-gray-500">© 2026 Isur & Office Supplies. Todos los derechos reservados</span
        >
    </div>
</footer>
